{% extends "master.html" %} {% block content %}
<section id="about" class="section about">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">

                <h3 class="section-title">About Us</h3>

                <p>The Technology in Business Conference aims at opening up the minds of all business people to explore the new strategies and the new technologies that will power a forever-changed workforce.
                </p>
                <p>Featuring live presentations, interactive Q&A sessions, and more to prepare the people for uncertainty and equip your business to move forward.</p>


            </div>
            <!-- /.col-sm-6 -->

            <div class="col-sm-6">

                <h3 class="section-title multiple-title">What is Our Goal?</h3>

                <p>Encourage all Ugandans to start moving from offline business to online business. We want to give Ugandans the chance to turn to digital marketing.
                </p>

                <ul class="list-arrow-right">

                    <li>Learn from the best Information Technology Experts &amp; Case Studies</li>
                    <li>Have dedicated 4 days meeting with the experts</li>
                    <li>Reach more consumers for less by learning new digital media skills</li>
                    <li>Save money when spending in online advertising</li>
                    <li>Adopt to the new trend in technology advancements</li>

                </ul>

            </div>
            <!-- /.col-sm-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
{% endblock %}

</html>