{% extends "master.html" %} {% block content %}
<section id="speakers" class="section speakers">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h3 class="section-title">Committee Members</h3>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="speaker">

                    <figure>
                        <img alt="" class="img-responsive center-block" src="static/images/speakers/speaker-1.jpg">
                    </figure>

                    <h4>Dr. Ssembatya Richard</h4>
                    <h5>Chief Organisor</h5>

                    <p>Head of department Computing and Technology</p>
                    <p>UCU</p>


                </div>
                <!-- /.speaker -->
            </div>
            <!-- /.col-md-4 -->

            <div class="col-md-4">
                <div class="speaker">

                    <figure>
                        <img alt="" class="img-responsive center-block" src="static/images/speakers/speaker-2.jpg">
                    </figure>

                    <h4>Judith Namugenyi</h4>

                    <h5>MTN Representative</h5>
                    <p>GM Internal Audit and forensics</p>


                </div>
                <!-- /.speaker -->
            </div>
            <!-- /.col-md-4 -->

            <div class="col-md-4">
                <div class="speaker">

                    <figure>
                        <img alt="" class="img-responsive center-block" src="static/images/speakers/speaker-3.jpg">
                    </figure>

                    <h4>Jhon Smith</h4>
                    <h5>Presentative/Speaker</h5>

                    <p>MD UCC</p>


                </div>
                <!-- /.speaker -->
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-4">

                <div class="speaker">

                    <figure>
                        <img alt="" class="img-responsive center-block" src="static/images/speakers/speaker-.jpg">
                    </figure>

                    <h4>Otim William</h4>
                    <h5>Co-Organisor</h5>
                    <p>Head of Operations, Innovation Village</p>


                </div>
            </div>
            <div class="col-md-4">



                <div class="speaker">

                    <figure>
                        <img alt="" class="img-responsive center-block" src="static/images/speakers/speaker-5.jpg">
                    </figure>

                    <h4>OBONYO PIUS</h4>
                    <h5>Media and Technical services</h5>
                    <p>CEO of Pio-Tech Solutions</p>



                </div>
            </div>

            <div class="col-md-4">
                <div class="speaker">
                    <figure>
                        <img alt="" class="img-responsive center-block" src="static/images/speakers/speaker-6.jpg">
                    </figure>
                    <h4>Jhon Smith</h4>
                    <h4>Google Representative/Guest speaker</h4>
                    <p>Innovation Manager Google</p>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}