{% extends "master.html" %} {% block content %}


<header id="site-header" class="site-header valign-center">
    <div class="intro">
        <h2>15-19 May,2021 / Nkoyoyo Hall</h2>

        <h1>Technology in Business Conference </h1>

        <p>Come Join Us, Learn and Witness what Tecchnology can or is doing in Business today</p>

        <a class="btn btn-white" href="{% url 'registernow' %}" style="background-color: rgb(10, 156, 167);color:aliceblue">Register Now</a>
</header>


<section id="facts" class="section bg-image-1 facts text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">

                <i class="ion-ios-calendar"></i>
                <h3>2021<br>May 15-19</h3>

            </div>
            <div class="col-sm-3">

                <i class="ion-ios-location"></i>
                <h3>NKOYOYO HALL, UCU<br>Mukono</h3>

            </div>

            <div class="col-sm-3">

                <i class="ion-speakerphone"></i>
                <h3>Expert<br>Speakers</h3>

            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>



<section id="location " class="section location ">
    <div class="container ">
        <div class="row ">
            <div class="col-sm-3 ">
                <h3 class="section-title ">Venue</h3>
                <address>
                        <p>UCU<br> Nkoyoyo Hall<br> Next to Accounts and Finance Office<br> Phone: +256779193928<br> Email:piusobonyo5@gmail.com </p>
                    </address>
            </div>
            <div class="col-sm-9 ">
                <iframe src="https://www.google.com/maps/dir/Uganda+Christian+University+Mukono,+Bishop+Tucker+Road,+Mukono/Nkoyoyo+Hall,+Mukono/@0.3572414,32.7386362,17z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x177dc7bd7d9ecc33:0xe7db325168bf53ad!2m2!1d32.7404587!2d0.3568584!1m5!1m1!1s0x177dc7bd83190537:0x67a8cba2316287be!2m2!1d32.7413961!2d0.3571273"
                    width="100% " height="450 " frameborder="0 " style="border:0 " allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<section id="contribution " class="section bg-image-2 contribution ">
    <div class="container ">
        <div class="row ">
            <div class="col-md-12 ">


            </div>
        </div>
    </div>
</section>{% endblock %}